<h1>Hello World</h1>

<p>Daftar orang terkaya di Dunia</p>
<ul>
    <li>Elon Musk</li>
    <li>Warren Buffet</li>
    <li>Bill Gates</li>
    <li>Teman Telkom:</li>
    <ol>
        <li>Dyah</li>
        <li>Tri</li>
    </ol>
</ul>

<ol>Member Blackpink
    <li>Jennie Kim <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F747527238146180685%2F&psig=AOvVaw3nHYOR6ofF_JUime5_L7c9&ust=1623248304206000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKjRuqadiPECFQAAAAAdAAAAABAH"></li>
    <li>Rose</li>
</ol>